.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  width: 500px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

form {
  margin-top: 15px;
}

.form-row:not(:first-child) {
  margin-top: 15px;
}

input {
  width: 100%;
}

.text-center {
  text-align: center;
}