<div class="dashboard-wrapper">
  <div class="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>
  <div class="dashborad-content-wrapper">
    <app-upper-menu></app-upper-menu>
    <router-outlet></router-outlet>
  </div>
</div>