<div class="form-wrapper">
  <a routerLink="../">Back</a>
  <h1>Add User</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
      <label>Name:</label>
      <input type="text" name="name" ngModel #name="ngModel" required>
      <div class="feedback-error" *ngIf="name.errors?.required && name.touched">
        You Must Fill A Name
      </div>
    </div>
    <div class="form-row">
      <label>Job:</label>
      <input type="text" name="job" ngModel #job="ngModel" required>
      <div class="feedback-error" *ngIf="job.errors?.required && job.touched">
        You Must Fill A Job
      </div>
    </div>
    <div class="form-row">
      <button type="submit" [disabled]="!f.valid">Create</button>
    </div>
  </form>
</div>