<h2 class="no-user" *ngIf="!selectedUser">Please Select A User</h2>

<div *ngIf="selectedUser">
  <div class="user-background-wrapper">
    <div class="user-background" [ngStyle]="{'background-image': 'url(' + selectedUser.avatar + ')'}">
    </div>
    <img class="avatar" [src]="selectedUser.avatar" />
    <h2 class="user-name">
      {{ selectedUser.first_name }} {{ selectedUser.last_name }}
    </h2>
  </div>

  <div class="user-info">
    <div class="user-info-row">
      <div>
        <p class="key">id</p>
        <p class="value"> {{ selectedUser.id }}</p>
      </div>
    </div>
    <div class="user-info-row" *ngIf="selectedUser.email">
      <div>
        <p class="key">Email Address</p>
        <p class="value email">{{ selectedUser.email }}</p>
      </div>
    </div>
  </div>
</div>