.no-user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-background-wrapper {
  overflow: hidden;
  position: relative;
  height: 352px;
  width: 100%;
  text-align: center;
  border-left: 1px solid #d8d8d8;
}

.user-background {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position-x: 50%;
  background-position-y: 50%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  z-index: -1;
}

.avatar {
  margin-top: 62px;
  border-radius: 50%;
  width: 168px;
  border: 5px solid white;
}

.user-name {
  margin-top: 37px;
  color: white;
  font-size: 20px;
}

.user-info {
  border-left: 1px solid #d8d8d8;
  padding: 13px 38px 0 38px;
}

.user-info .key {
  color: #7d828b;
  margin-top: 6px;
  font-size: 14px;
}

.user-info .value {
  color: #2d3e4f;
  margin-top: 5px;
  font-size: 15px;
}

.user-info .value.email {
  color: #2d3e4f;
  margin-top: 5px;
  font-size: 20px;
}

.user-info-row:not(:first-child) {
  margin-top: 22px;
}