<header>
  <ul>
    <li>
      <a href="#">
        <span class="menu-icon"><fa-icon [icon]="faGlobeAfrica"></fa-icon></span>
        <span class="menu-text">English</span>
      </a>
    </li>
    <li>
      <a (click)="onLogout()" style="cursor: pointer;">
        <span class="menu-icon"><fa-icon [icon]="faSignOutAlt"></fa-icon></span>
      </a>
    </li>
  </ul>
</header>