header {
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: flex-end;
  height: 81px;
}

li {
  display: inline-block;
}

li:not(:first-child) {
  margin-left: 11px;
}

li .menu-icon {
  margin-right: 10px;
}

li .menu-text {
  font-size: 12px;
}

ul {
  margin-right: 52px;
}

a {
  text-decoration: none;
  color: #2d3e4f;
}


