<div class="form-wrapper">
  <div class="form-container">
    <h1>Log In</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-row">
        <label>Email:</label>
        <input type="email" name="email" ngModel #email="ngModel" required email>
        <div class="feedback-error" *ngIf="email.errors?.required && email.touched">
          You Must Fill An Email
        </div>
        <div class="feedback-error" *ngIf="email.errors?.email && email.touched">
          You Must Fill A Valid Email
        </div>
      </div>
      <div class="form-row">
        <label>Password:</label>
        <input type="password" name="password" ngModel #password="ngModel" required>
        <div class="feedback-error" *ngIf="password.errors?.required && password.touched">
          You Must Fill A Password
        </div>
      </div>
      <div class="form-row text-center">
        <button type="submit" [disabled]="!f.valid">Log In</button>
      </div>
    </form>
    <a routerLink="/register">Register</a>
  </div>
</div>