.sidebar {
  background-color: #2d3e4f;
  width: 236px;
  height: 100%;
}

.sidebar .link-icon {
  display: inline-block;
  width: 39px;
}

.sidebar .link-text {
  font-size: 12px;
}

.sidebar li:nth-child(2) {
  margin-top: 38px;
}

.sidebar li a {
  color: white;
  text-decoration: none;
  padding: 18px 0 17px 38px;
  width: 100%;
  display: block;
}

.sidebar li a.active {
 background-color: #273644;
 border-right: solid 4px #f19b2c;
}

.user {
  text-align: center;
  padding: 38px 38px 0 38px;
}

.user .avatar {
  border-radius: 50%;
  width: 105px;
  border: 3px solid white;
}

.user p {
  margin-top: 16px;
  color: white;
}

.user p .user-job {
  margin-top: 10px;
  display: block;
  color: #6a6e6b;
  font-size: 13px;
}