<ul class="sidebar">
    <li class="user">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg" class="avatar" />
      <p>
        <span class="user-name">
          Shahar Meshulam
        </span>
        <span class="user-job">
          Developer
        </span>
      </p>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faTachometerAlt"></fa-icon>
        </span>
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faFile"></fa-icon>
        </span>
        <span class="link-text">Files</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faNewspaper"></fa-icon>
        </span>
        <span class="link-text">News</span>
      </a>
    </li>
    <li>
      <a routerLink="users" class="active"routerLinkActive="active">
        <span class="link-icon">
          <fa-icon [icon]="faUsers"></fa-icon>
        </span>
        <span class="link-text">Users</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </span>
        <span class="link-text">FAQ</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faLifeRing"></fa-icon>
        </span>
        <span class="link-text">Help</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="link-icon">
          <fa-icon [icon]="faCog"></fa-icon>
        </span>
        <span class="link-text">Settings</span>
      </a>
    </li>
  </ul>