<div class="users">
  <div class="top-text">
    <h1>Users</h1>
    <p>
      if you want to get contact information to specific user, just select group and then select <br>
      him from the list below
    </p>
    <button class="btn add" routerLink="new">
      Add User
    </button>
  </div>
  <div>
    <ul>
      <li *ngFor="let user of users">
        <div class="user" [class.active]="user === selectedUser" (click)="onSelectUser(user)">
          <img class="avatar" [src]="user.avatar" />
          <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="selected-user">
  <app-user-details></app-user-details>
</div>