.users {
  padding-left: 61px;
  width: calc(100% - 470px);
  float: left;
  min-width: 470px;
}

.top-text {
  padding: 58px 0;
}

.top-text h1 {
  color: #2d3e4f;
  font-size: 18px;
}

.avatar {
  border-radius: 50%;
}

.top-text p {
  margin-top: 14px;
  font-size: 14px;
  line-height: 18px;
  color: #8f8286;
}

.avatar {
  width: 50px;
  display: inline-block;
  position: absolute;
}

.name {
  display: inline-block;
  vertical-align: top;
  padding: 17px 29px 17px 17px;
  padding-left: 70px;
}

ul { 
  margin-top: 22px;
}

li {
  display: inline-block;
  width: 50%;
}

li:nth-child(n+3) {
  margin-top: 34px;
}

.user {
  float: left;
  cursor: pointer;
  height: 52px;
  border: 1px solid white;
}

.user.active {
  background-color: #f9f9f9;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
}

.selected-user {
  width: 470px;
  height: calc(100% - 81px);
  float: left;
  position: relative;
}

.btn.add {
  margin-top: 15px;
}